<md-sidenav-container class="example-container">
  <md-sidenav #sideFixed class="sidenav" mode="side" opened="true">
    <md-nav-list>
      <md-list-item class="navItem" *ngFor="let folder of folders; let idx = index" [ngClass]="{'active': active==idx}" (click)="active = idx" (click)="openSnackBar(folder.name , 'UNDO')">
        <md-icon md-list-icon>{{folder.icon}}</md-icon>
        <h4 md-line>{{folder.name}}</h4>
      </md-list-item>
    </md-nav-list>
    <div class="example-spacer"></div>
    <md-divider></md-divider>
    <app-space-used-prograss>loading...</app-space-used-prograss>
  </md-sidenav>

  <md-sidenav #sidenav align="end" mode="side" opened="true" class="right-sidenav">
        
        <app-card-fancy-example>card loading....</app-card-fancy-example>
    </md-sidenav>

  <div class="sidenav-content">
    <div class="content">
      <app-table-basic-example>table loading...</app-table-basic-example>
    </div>
  </div>
</md-sidenav-container>