<div class="example-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container mdColumnDef="name">
      <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
      <md-cell *mdCellDef="let element">
        <div class="nameCell">
          <md-icon>folder</md-icon>
          <span> &nbsp;&nbsp;{{element.name}}</span>
        </div>
      </md-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container mdColumnDef="owner">
      <md-header-cell *mdHeaderCellDef> Owner </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.owner}} </md-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container mdColumnDef="last_modified">
      <md-header-cell *mdHeaderCellDef> Last modified </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.last_modified}} </md-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container mdColumnDef="size">
      <md-header-cell *mdHeaderCellDef> Size </md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.size}} </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>