<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>saurav</md-card-title>
    <md-card-subtitle>sauravsingh575@gmail.com</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/img/2.jpg" alt="image">
  <md-card-content>
    <p>
      Cards are a convenient means of displaying content composed of different elements.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-icon-button><md-icon class="example-icon">thumb_up</md-icon></button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>