.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-header-image {
  background-image: url('/assets/img/1.png');
  background-size: cover;
  margin-left: 20px;
}

.breadcrum{
  flex: 1 1 auto;
  margin-left: 150px;
}

.search-input{
  width: 180px;
  box-sizing: border-box;
  border: 0px;
  border-radius: 3px;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  padding: 12px 20px 10px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-input:focus {
  width: 240px;
}
